@using WeGrow.Models.Entities

@code {
    [Parameter]
    public List<ModuleEntity> CartItems { get; set; }
}
<div class="cart-wrap">
    <div class="cart">
        <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ShoppingCart" DisableElevation="true" />
        @if(CartItems?.Count() > 0)
        {
            <h5 class="cart-counter">@CartItems.Count</h5>
        }
    </div>
</div>