@using WeGrow.Core.Resources
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@code {
    private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    private Dictionary<string,string> cultures;
    private string ApiUrl { get; set; }
    protected override void OnInitialized()
    {
        ApiUrl = Configuration["apiUrl"];
        cultures = Configuration.GetSection("Cultures")
        .GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }

    private void RequestCultureChange(string newLang)
    {
        selectedCulture = newLang;
        if (string.IsNullOrWhiteSpace(selectedCulture))
        {
            return;
        };
    var uri = new Uri(NavigationManager.Uri)
        .GetComponents(UriComponents.AbsoluteUri, UriFormat.Unescaped);
        var query = $"?culture={Uri.EscapeDataString(selectedCulture)}&" + 
                    $"redirectUri={Uri.EscapeDataString(uri)}";
        NavigationManager.NavigateTo(ApiUrl + ApiRoutes.SetCulture + query, forceLoad: true);
    }
}
@if(cultures != null)
{
    <div>
<MudSelect T="string" Value="selectedCulture" ValueChanged="value => RequestCultureChange(value)" Label="Language" Variant="Variant.Outlined" Margin="Margin.Dense">
    @foreach(var culture in cultures)
    {
        var cultureFlagLink = "";
        switch (culture.Value)
        {
            case "Ukraine":
                cultureFlagLink = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/2560px-Flag_of_Ukraine.svg.png";
                break;
            case "USA":
                cultureFlagLink = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png";
                break;
        }
        <MudSelectItem Value="@culture.Key">
            @if (!string.IsNullOrEmpty(cultureFlagLink))
            {
                <img src="@cultureFlagLink" height="14" class="mr-1" /> 
            }

            @culture.Value
        </MudSelectItem>
    }
</MudSelect></div>
}

