@page "/"
@inject IStringLocalizer<App> Localizer
<PageTitle>Home</PageTitle>
<h1>@Localizer["Welcome to WeGrow company page!"]</h1>

<SurveyPrompt Title="@Localizer["Work of student Ivan Vladymyrov"]" />
