@page "/admin/grows"
@attribute [Authorize(Roles = "admin")]
@using WeGrow.Models.Entities

<h3>Grows</h3>

<div class="row">
    <AdminTableCRUD TableTitle="Grows" Items="ItemsList" TItem="GrowEntity" ApiUrl="@ApiUrl"/>
</div>