@page "/admin/modules"
@attribute [Authorize(Roles = "admin")]
@using WeGrow.Models.Entities

<h3>Modules</h3>

<div class="row">
    <AdminTableCRUD TableTitle="Modules" Items="ItemsList" TItem="ModuleEntity" ApiUrl="@ApiUrl"/>
</div>