@page "/admin/receipts"
@attribute [Authorize(Roles = "admin")]
@using WeGrow.Models.Entities

<h3>Receipts</h3>

<div class="row">
    <AdminTableCRUD TableTitle="Receipts" Items="ItemsList" TItem="ReceiptEntity" ApiUrl="@ApiUrl"/>
</div>